.mesh-bg {
  background: #c7c8eb;
  background-image: radial-gradient(at 16% 65%, #f8c8fa 0px, transparent 50%),
    radial-gradient(at 4% 15%, #bbe1f2 0px, transparent 50%),
    radial-gradient(at 58% 8%, #f7fce6 0px, transparent 50%),
    radial-gradient(at 59% 52%, #eefadc 0px, transparent 50%),
    radial-gradient(at 98% 30%, #d0d8f7 0px, transparent 50%);
}
.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel {
  display: flex;
  animation: moveCarousel 45s linear infinite; /* Adjust duration as needed */
}

@keyframes moveCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); /* Move one item width to the left */
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#result {
  margin-top: 20px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #333;
}

label {
  display: block;
  margin-bottom: 2px;
}

input[type="radio"] {
  margin-right: 5px;
}

/* button {
  display: block;
  width: 100%;
  max-width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
} */
