@tailwind base;
@tailwind components;
@tailwind utilities;

.br {
  border: 2px solid red;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
}

.map-container {
  height: 500px;
  width: 600px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
}
